# Discord
DISCORD_BOT_TOKEN=

# MySQL (Without docker)
DATABASE_URL=mysql://USERNAME:PASSWORD@HOST:PORT/DATABASE
SHADOW_DATABASE_URL=mysql://USERNAME:PASSWORD@HOST:PORT/DATABASE

# MySQL (With docker)
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# Miscellaneous
NODE_ENV=PRODUCTION  #PRODUCTION, DEVELOPMENT
LOG_LEVEL=INFO       #VERBOSE, DEBUG, INFO, WARN, or ERROR
