# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_DATABASE=

# General database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Development database for creating migrations
POSTGRES_SHADOW_HOST=localhost
POSTGRES_SHADOW_PORT=5433
POSTGRES_SHADOW_USER=
POSTGRES_SHADOW_PASSWORD=
POSTGRES_SHADOW_DATABASE=

# Miscellaneous
NODE_ENV=development
LOG_LEVEL=info
