services:
    bot:
        build:
            target: PRODUCTION
        environment:
            REDIS_HOST: redis
            REDIS_PORT: 6379
            REDIS_USER: default
            REDIS_PASSWORD: ${REDIS_PASSWORD}
            REDIS_DATABASE: 0
            DATABASE_URL: mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@mariadb:3306/${MYSQL_DATABASE}
            LOG_LEVEL: ${LOG_LEVEL}
            DISCORD_BOT_TOKEN: ${DISCORD_BOT_TOKEN}
        volumes:
            - "bot_data:/usr/src/app/storage"
        depends_on:
            - mariadb
        networks:
            - backend

    redis:
        image: redis
        environment:
            REDIS_PASSWORD: password
            REDIS_DATABASES: 1
        volumes:
            - "redis_data:/data"
        ports:
            - "6379:6379"
        networks:
            - backend

    mariadb:
        image: mariadb
        environment:
            MYSQL_RANDOM_ROOT_PASSWORD: yes
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
        volumes:
            - "mariadb_data:/var/lib/mysql"
        networks:
            - backend

volumes:
    bot_data:
    redis_data:
    mariadb_data:

networks:
    backend:
